<h1>One cat!</h1>

<ul>
    <h2><%= @cat.name %></h2>
        <li><%= @cat.birth_date %></li>
        <li><%= @cat.color %></li>
        <li><%= @cat.sex %></li>
        <li><%= @cat.description %></li>
    <a href=" <%= cats_url %>">cats</a>
</ul>
